// This File is imported last, and will override other styles in the cascade
// Add styles here to customize your blog
// By default this file should be empty - please help us move stuff in its proper place:
// https://github.com/lucaslew/whitespace/pull/17

// Some Non-Theme User Styles

// Hide ugly shadow in Gist caption text
.gist .gist-file .gist-meta {
  text-shadow: none !important
}

// Some styling for markdown tables 
// (Child selectors to skip styling fenced code blocks)

div .entry-content > table {
  width: 100%;
  margin-bottom: 1em;
}
div .entry-content > table > thead > tr > th {
  padding: .2em;
  background-color: #CCC;
}
div .entry-content > table > tbody > tr > td {
 padding: .2em;
}
